<h1><%= t('rent_notification') %></h1>

<p>
  <%= t('rent_createdAt') %>: <%= @rent.created_at %>
</p>

<p>
  <%= t('book_details') %>: <%= @rent.book.title %>
</p>
<p>
  <%= t('book_genre') %>: <%= @rent.book.genre %>
</p>
<p>
  <%= t('book_author') %>: <%= @rent.book.author %>
</p>
<p>
  <%= t('book_publisher') %>: <%= @rent.book.publisher %>
</p>
<p>
  <%= t('book_year') %>: <%= @rent.book.year %>
</p>

<p>
  <%= t('rent_from') %>: <%= @rent.from %> - <%= t('rent_to') %>: <%= @rent.to %>
</p>
