<h1><%= t Notificación de Alquiler %></h1>

<p>
  <%= t Fecha de solicitud del Alquiler %>: <%= @rent.created_at %>
</p>

<p>
  <%= t Detalles del Libro %>: <%= @rent.book.title %>
</p>
<p>
  <%= t Genero %>: <%= @rent.book.genre %>
</p>
<p>
  <%= t Autor %>: <%= @rent.book.author %>
</p>
<p>
  <%= t Editorial %>: <%= @rent.book.publisher %>
</p>
<p>
  <%= t Año de Publicación %>: <%= @rent.book.year %>
</p>

<p>
  <%= t Alquiler Desde %>: <%= l @rent.from %> - <%= t Hasta %>: <%= l @rent.to %>
</p>
